

.bg-blue-deep {
    background-color: #1c79c0;
}

.bg-blue-light {
    background-color: #0dd3ff;
}

.bg-blue-mid {
    background-color: #0389ff;
}

.bg-gray {
    background-color: #f3f3f3;
}

.bg-inherit {
    background-color: inherit;
}

.font-color-gray {
    color: #666666;
}

.font-color-blue-deep {
    color: #1c79c0;
}

.font-color-blue-light {
    color: #0dd3ff;
}

.font-color-blue-mid {
    color: #0389ff;
}



.header {
    border-bottom: 0.5rem double #0389ff;
    background-color: #f3f3f3;
}

.footer{
    background-color: #f3f3f3;
}

/* home start */

.section-header {
    border-bottom: 1px solid #1c79c0;
    font-size: 1.5rem;
}

.panel-container {
    min-height: 30vh;
    border-radius: 5px;
}

.panel-title {
    border-bottom: 1px solid #0389ff;
    font-size: 1.0rem;
}

.card {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

/* home end */