
.deep-red {
    color: #d0011b;
}
.gray {
    color: #767676;
}
.white {
    color: #FFFFFF;
}
.blue-deep {
    color: #1c79c0;
}

.blue-light {
    color: #0dd3ff;
}

.blue-mid {
    color: #0389ff;
}
.bg-blue-deep {
    background-color: #1c79c0;
}

.bg-blue-light {
    background-color: #0dd3ff;
}

.bg-blue-mid {
    background-color: #0389ff;
}

.bg-gray {
    background-color: #f3f3f3;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-inherit {
    background-color: inherit;
}

.font-color-gray {
    color: #666666;
}

.font-color-blue-deep {
    color: #1c79c0;
}

.font-color-blue-light {
    color: #0dd3ff;
}

.font-color-blue-mid {
    color: #0389ff;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

.h-40 {
    height: 20%;
}

.h-40 {
    height: 40%;
}

.h-50 {
    height: 50%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}

.h-100 {
    height: 100%;
}

.verticle-center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.icon {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app {

}
#app {
    min-height: 100%;

 }

.header {
    border-bottom: 0.5rem double #0389ff;
    background-color: #f3f3f3;
}
.content {
    max-width: 1200px;
    flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}
.footer{
    width: 100%;
    height:100px;   /* footer的高度一定要是固定值*/ 
    position:static;
    background-color: #f3f3f3;
    z-index: 900;
}
/* common start */
.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
  }
  


/* common end */

/* home start */

.section-header {
    border-bottom: 1px solid #1c79c0;
    font-size: 1.5rem;
}

.panel-container {
    min-height: 30vh;
    border-radius: 5px;
}

.panel-title {
    border-bottom: 1px solid #0389ff;
    font-size: 1.0rem;
}

.card {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

/* home end */

/* SearchBar Component Start */
.seachbar-container {
    padding-right: 15px;
    padding-left: 15px;
}
.search-input {
    border: 0px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.search-btn {
    border: 0px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

/* SearchBar Component End */
